@import "tailwindcss";



body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}
::-webkit-scrollbar {
  color: antiquewhite;
  background-color: white;
  width: 1px;
}

::-webkit-scrollbar-button {
  background-color: white;
  color: white;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  color: white;
}

body {
  overflow-x: hidden;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}

.animate-shimmer {
    animation: shimmer 1.8s infinite linear;
}